# Temporary
nbproject/*
!nbproject/Makefile-Debug.mk
!nbproject/Makefile-impl.mk
!nbproject/Makefile-Release.mk
!nbproject/Makefile-variables.mk
!nbproject/Package-Debug.bash
!nbproject/Package-Release.bash
dist
build

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
